<% if !current_user.patient? %>
<h1>Editing Diagnosis</h1>

<%= render 'form', diagnosis: @diagnosis %>

<%= link_to 'Show', @diagnosis, class: 'btn btn-primary' %> |
<%= link_to 'Back', diagnoses_path, class: 'btn btn-primary' %>
<%else%>
<h1>This page is not available for you</h1>
<%end%>
