<% if !current_user.patient? %>
<h1>New Diagnosis</h1>

<%= render 'form', diagnosis: @diagnosis %>
<br>

<%= link_to 'Go Back', diagnoses_path, class: 'btn btn-primary' %>
<%else%>
<h1>This page is not available for you</h1>
<%end%>
