<% if !current_user.patient? %>
<h1>New Prescription</h1>


<%= render 'form', prescription: @prescription %>
<br>
<%= link_to 'Go Back', prescriptions_path, class: 'btn btn-primary' %>
<%else%>
<h1>This page is not available for you</h1>
<%end%>
