<% if !current_user.patient? %>
<h1>Editing Schedule</h1>

<%= render 'form', schedule: @schedule %>

<%= link_to 'Show', @schedule, class: 'btn btn-primary' %>
<%= link_to 'Back', schedules_path, class: 'btn btn-primary' %>
<%else%>
<h1>This page is not available for you</h1>
<%end%>
