<% if !current_user.patient? %>
<h1>New Schedule</h1>

<%= render 'form', schedule: @schedule %>
<br>
<%= link_to 'Back', schedules_path, class: 'btn btn-primary' %>
<%else%>
<h1>This page is not available for you</h1>
<%end%>
