<% if !current_user.doctor? %>
<h1>Editing Patient History</h1>

<%= render 'form', patient_history: @patient_history %>

<%= link_to 'Show', @patient_history %> |
<%= link_to 'Back', patient_histories_path %>
<%else%>
<h1>This page is not available for you</h1>
<%end%>
