<% if !current_user.doctor? %>
<%= link_to root_path do %>


<%= image_tag(image_path('Logo1.png')) -%>

<% end %>


<h1>New Patient History</h1>

<%= render 'form', patient_history: @patient_history %>

<%= link_to 'Back', patient_histories_path %>
<%else%>
<h1>This page is not available for you</h1>
<%end%>
