<% if !current_user.patient? %>
<h1>Editing Doctor</h1>

<%= render 'form', doctor: @doctor %>

<%= link_to 'Show', @doctor %> |
<%= link_to 'Back', doctors_path %>
<%else%>
<h1>This page is not available for you</h1>
<%end%>
