<% if !current_user.patient? %>
<%= link_to root_path do %>


<%= image_tag(image_path('Logo1.png')) -%>

<% end %>


<h1>New Doctor</h1>

<%= render 'form', doctor: @doctor %>

<%= link_to 'Back', doctors_path %>
<%else%>
<h1>This page is not available for you</h1>
<%end%>
