<% if !current_user.doctor? %>
<h1>Editing Patient Profile</h1>

<%= render 'form', patient_profile: @patient_profile %>
<br>
<%= link_to 'Show', @patient_profile, class: 'btn btn-primary' %>
<%= link_to 'Go Back', patient_profiles_path, class: 'btn btn-primary' %>
<%else%>
<h1>This page is not available for you</h1>
<%end%>
