<% if !current_user.doctor? %>
<%= link_to root_path do %>


<%= image_tag(image_path('Logo1.png')) -%>

<% end %>

<h1>New Patient Profile</h1>

<%= render 'form', patient_profile: @patient_profile %>

<%= link_to 'Back', patient_profiles_path %>
<%else%>
<h1>This page is not available for you</h1>
<%end%>
