<% if !current_user.doctor? %>
<%= link_to root_path do %>




<% end %>

<h1>New Patient Profile</h1>

<%= render 'form', patient_profile: @patient_profile %><br>

<%else%>
<h1>This page is not available for you</h1>
<%end%>
